<body>
  <a href="/cars">All Cars</a>
  <h1>Add a new car</h1>
  <form action="/cars" method="post">
    <label for="make">Make: </label>
    <input type="text" name="make" id="make" />
    <br>
    <label for="model">Model: </label>
    <input type="text" name="model" id="model" />
    <br>
    <label for="year">Year: </label>
    <input type="text" name="year" id="year" />
    <br>
    <label for="color">Color:</label>
    <input type="text" name="color" id="color" />
    <br>
    <button type="submit"> Add Car </button>
  </form>
</body>
